// global color tokens
$-clr-white: hsl(0, 0%, 100%);
$-clr-dark-gray: hsl(0, 0%, 63%);
$-clr-very-dark-gray: hsl(0, 0%, 27%);
$-clr-black: hsl(0, 0%, 0%);

$light: (
  "neutral": (
    "100": $-clr-white,
    "500": $-clr-dark-gray,
    "600": $-clr-very-dark-gray,
    "900": $-clr-black,
  ),
);

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-900: var(--neutral-900);
