@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $light;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-500;
$color-background-default: $color-neutral-100;
$color-text-interactive-default: $color-neutral-900;
$color-text-interactive-hover: $color-neutral-500;

// set to 0 to disable
$letter-spacing-navigation: -0.67px;
$letter-spacing-heading-one: -2px;
$letter-spacing-heading-two: 6.5px;
$letter-spacing-body: -0.33px;
$letter-spacing-button: 12.5px;

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-600;
$body-line-height: 1.4;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;
$body-letter-spacing: $letter-spacing-body;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-base;
$heading-color-default: $color-neutral-900;

$heading-1-font-size: $font-size-900;
$heading-1-font-weight: $font-weight-semi-bold;
$heading-1-letter-spacing: $letter-spacing-heading-one;
$heading-1-line-height: 1.1;
$heading-1-text-transform: none;

$heading-2-font-size: $font-size-400;
$heading-2-font-weight: $font-weight-bold;
$heading-2-letter-spacing: $letter-spacing-heading-two;
$heading-2-line-height: 1.4;
$heading-2-text-transform: uppercase;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$container-min-margin-inline: $size-8;
$container-max-width: 64rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

// site header
$site-header-background-color: transparent;
$site-header-color: $color-neutral-100;
$site-header-padding: $size-12 $size-6;
$site-header-padding-desktop: $size-16;
$site-header-margin: 0;
$site-header-jusitifcation: flex-start;
$site-header-alignment: center;
$site-header-gap: $size-14;
$site-header-gap-hamburger: $size-23;

//navigation
$navigation-color: $site-header-color;
$navigation-color-hamburger: $color-neutral-900;
$navigation-font-size: $font-size-600;
$navigation-gap: $size-8;
$navigation-link-text-decoration: none;
$navigation-letter-spacing: $letter-spacing-navigation;
$navigation-font-family: $body-font-family;
$navigation-font-weight: $font-weight-semi-bold;

// site footer
$footer-background-color: $color-neutral-900;
$footer-font-size: $font-size-300;
$footer-text-color: $color-neutral-500;
$footer-link-color: $color-neutral-100;
$footer-link-font-family: $font-family-base;
$footer-link-text-decoration: none;
$footer-text-align: center;

// buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-500;
$button-font-weight: $font-weight-default;
$button-color: $color-neutral-900;
$button-color-hover: $color-neutral-500;
$button-text-transform: uppercase;
$button-padding: 0;
$button-border: 0;
$button-letter-spacing: $letter-spacing-button;
$button-border-radius: 0;
