---

---

<nav class="nav">
  <span id="nav-label" hidden>NAVIGATION</span>
  <button
    class="[ nav__open ] [ js-nav-open ]"
    aria-expanded="false"
    aria-labelledby="nav-label"
    ><img src="/assets/images/icon-hamburger.svg" alt="" width="28" /></button
  >

  <div class="[ nav__overlay ] [ hidden ]" aria-hidden="true"></div>

  <div class="nav__menu" role="dialog" aria-labelledby="nav-label">
    <button class="[ nav__close ] [ js-nav-close ]" aria-label="CLOSE">
      <img src="/assets/images/icon-close.svg" alt="" width="28" height="28" />
    </button>

    <ul class="[ nav__list ] [ flex-group ]">
      <li class="nav__item">
        <a class="nav__link" href="/index.html">home</a>
      </li>
      <li class="nav__item"><a class="nav__link" href="#">shop</a></li>
      <li class="nav__item"><a class="nav__link" href="#">about</a></li>
      <li class="nav__item"><a class="nav__link" href="#">contact</a></li>
    </ul>
  </div>
</nav>
<style lang="scss">
  @use "../styles/abstracts" as *;
  .nav {
    &__open,
    &__close {
      outline: 2px solid transparent;
      @include mq(medium) {
        display: none;
      }

      &:focus {
        outline-color: $color-neutral-900;
        outline-offset: 4px;
      }
    }

    &__open[aria-expanded="true"] {
      ~ .nav__menu {
        translate: 0;

        @media (prefers-reduced-motion) {
          opacity: 1;
        }
      }

      ~ .nav__overlay {
        opacity: 0.75;
      }
    }

    &__overlay {
      position: fixed;
      inset: 0;
      background-color: $color-neutral-900;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      pointer-events: none;
      z-index: 100;
    }

    &__menu {
      @media (width < 45em) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $color-neutral-100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $size-4;
        padding: $size-11 $size-6;
        translate: -100vw 0;
        transition: translate 500ms ease-in-out;
        z-index: 110;
        animation: disappear-on-load 1500ms ease-in-out;
      }

      @media (width < 45em) and (prefers-reduced-motion) {
        translate: 0;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
      }
    }

    &__close {
      img {
        width: 1.5rem;
      }
    }

    &__list {
      --flex-column-gap: #{$navigation-gap};

      list-style: none;
      font-family: $navigation-font-family;
      font-size: $navigation-font-size;
      font-weight: $navigation-font-weight;
      letter-spacing: $navigation-letter-spacing;

      order: 1;

      @include mq(medium) {
        order: 2;
      }
    }

    &__link {
      position: relative;
      display: inline-block;
      color: $navigation-color-hamburger;
      text-decoration: $navigation-link-text-decoration;
      outline: 2px solid transparent;
      @include mq(medium) {
        color: $navigation-color;
      }

      &::before {
        content: "";
        position: absolute;
        background-color: $color-neutral-100;
        left: 50%;
        bottom: -8px;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        transition: width 270ms ease-in-out;
      }
      &:hover::before {
        width: 16px;
      }

      &:focus {
        outline-color: red;
        outline-offset: 4px;
      }
    }
  }

  @keyframes disappear-on-load {
    from {
      opacity: 0;
    }

    to {
      opacity: 0;
    }
  }
</style>
