---
import PrimaryNavigation from "./PrimaryNavigation.astro";
---

<header class="site-header">
  <div class="site-header__inner">
    <a class="site-header__home" href="/index.html">
      <img aria-hidden="true" src="/assets/images/logo.svg" alt="" />
      <p class="visually-hidden">ROOM HOMEPAGE SITE</p>
    </a>

    <PrimaryNavigation />
  </div>
</header>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-header {
    color: $site-header-color;
    background-color: $site-header-background-color;
    padding: $site-header-padding;
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    @include mq(medium) {
      padding: $site-header-padding-desktop;
    }

    &__inner {
      display: flex;
      gap: $site-header-gap-hamburger;
      align-items: $site-header-alignment;
      justify-content: $site-header-jusitifcation;

      @include mq(medium) {
        gap: $site-header-gap;
      }
    }

    &__home {
      order: 2;
      outline: 2px solid transparent;
      @include mq(medium) {
        order: 0;
      }

      &:focus {
        outline-color: $color-neutral-900;
        outline-offset: 4px;
      }
    }
  }
</style>
