@font-face {
  font-family: "League Spartan";
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/LeagueSpartan-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "League Spartan";
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/LeagueSpartan-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "League Spartan";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/LeagueSpartan-Bold.ttf") format("truetype");
}
